*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

input:focus,
button:focus {
    outline: none;
}

.colorWrapper{
    width : 90%;
    margin : auto;
    background :  rgba(235,242,234,0.5);
    padding : 1rem;
}

.colorInputDiv{
    background: rgba(191,157,122,0.5);
    width: 90%;
    margin : auto;
    text-align : center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius : 10px;
    margin-bottom : 2rem;
}

.title{
   font-family: 'Montserrat', sans-serif;
   font-weight: 800;
   padding : 2rem;
}

.inputBtnDiv{
    display: flex;
    justify-content: center;
}

.colorInput{
    width : 20rem;
    height : 3rem;
    border-radius: 10px;
    margin-right : 10px;
    margin-bottom : 1rem;
    font-size: 1rem;
    text-align : center;
}

.generatorBtn {
    width : 5rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #0ABDA0;
    font-size : 0.8rem;
    font-weight: 700;
    color : #fff;
}

.stopButton{
    width : 5rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #f05837;
    font-size : 0.8rem;
    font-weight: 700;
    color : #fff;
}

.colorDiv {
    width:700px;
    height:110px;
    margin : auto;
    font-family: 'Montserrat', sans-serif;
    padding : 3.5rem;
}

.copy{
    width: 50px;
    height: 20px;
    background-color: bisque;
    float : right;
    position: relative;
    
}

.hide{
    display: none;
}
